form .row{
    margin-bottom: 16px;
}

.button_green_colour {
    background-color: #0d7d87 !important;
}

.rz-spinner-button {
    background-color: #0d7d87 !important;
}

.rz-primary {
    background-color: #0d7d87 !important
}

.rz-secondary {
    background-color: #6a9559 !important
}

.rz-datatable-thead th, .rz-grid-table thead th {
    background-color: #98c8cf !important
}

.indent {
    text-indent: 1em;
}

.image{
    padding-bottom: 1em;
}

.rz-lookup-search input {
    border-color: #0d7d87 !important;
    border-width: 2.5px !important;
}

.rz-tabview-nav li a {
    color: #07575f !important;
    font-size: 1.1em !important
}

.rz-tabview-nav .rz-tabview-selected a {
    color: black !important
}
